<div id='container'>
  <nav class="navigation"> 
    <ul>
      <li><a href="#/links">Links</a></li>  
      <li><a class="selected" href="#/shorten">Shorten</a></li>
      <li><a href="#/" ng-click="signout()">Logout</a></li>
    </ul>
  </nav>
  <form name="shortenForm" ng-submit="addLink(shortenForm.$valid)" id="shorten" novalidate>
    <input type="url" ng-model="link.url" placeholder="input link" required>
    <button type="submit" form="shorten" ng-disabled='shortenForm.$invalid'>Submit</button>
  </form>
  <img src="assets/spiffygif_46x46.gif" ng-hide="loading">
</div>


