<div id='container'>
  <nav class="navigation"> 
    <ul>
      <li><a class="selected" href="#/links">Links</a></li>  
      <li><a href="#/shorten">Shorten</a></li>
      <li><a href="#/" ng-click="signout()">Logout</a></li>
    </ul>
  </nav>
  <input type="text" ng-model="linkFilter"></input>
  <div class="links">  
    <div class="link" ng-repeat="link in data.links | orderBy:'-visits' | filter:linkFilter">
      <img src="assets/redirect_icon.png">
      <div class="info">
        <a class="title" href="{{ link.base_url }}/{{ link.code }}">{{ link.title }}</a><br />
        <span>{{ link.base_url }}/{{ link.code }}</span><br />
        <div class="visits"><span class="count">{{ link.visits }}</span></div>
      </div>
    </div>
  </div>
</div>
