<div id='container'>
  <nav> 
    <a href="#/links">Links</a>   
    <a href="#/shorten">Shorten</a>
    <a href="#/" ng-click="signout()">Logout</a>
  </nav>
  <input type="text" ng-model="linkFilter"></input>
  <ul>  
    <li ng-repeat="link in data.links | orderBy:'-visits' | filter:linkFilter">
      <a href="{{ link.base_url }}/{{ link.code }}">{{ link.title }}</a><br />
      <span>{{ link.base_url }}/{{ link.code }}</span><br />
      <span>{{ link.visits }}</span>
    </li>
  </ul>
</div>
